.icon-vector_24x24:before {
  content: '\eae7';
}
.icon-new_360_24x24:before {
  content: '\eae1';
}
.icon-real_estate_agent_24x24:before {
  content: '\eae2';
}
.icon-place_24x24:before {
  content: '\eae3';
}
.icon-local_play_24x24:before {
  content: '\eae4';
}
.icon-floor_plan_24x24:before {
  content: '\eae5';
}
.icon-attach_money_24x24:before {
  content: '\eae6';
}
.icon-website_24x24:before {
  content: '\eae0';
}
.icon-home_work_24x24:before {
  content: '\eadf';
}
.icon-action_redeem_24x24:before {
  content: '\eade';
}
.icon-fullscreen_14x14:before {
  content: '\eadd';
}
.icon-amenities_museum_24x24:before {
  content: '\eadc';
}
.icon-toggle_star_24x24:before {
  content: '\ead9';
}
.icon-toggle_star_half_24x24:before {
  content: '\eada';
}
.icon-toggle_star_outline_24x24:before {
  content: '\eadb';
}
.icon-home_finance_24x24:before {
  content: '\ead8';
}
.icon-logo_clik_60x68 .path1:before {
  content: '\ead6';
  color: rgb(30, 110, 180);
}
.icon-logo_clik_60x68 .path2:before {
  content: '\ead7';
  margin-left: -0.8828125em;
  color: rgb(40, 200, 240);
}
.icon-home_compass_25x25:before {
  content: '\ead5';
}
.icon-home_assets_air_24x24:before {
  content: '\eac7';
}
.icon-home_assets_area_24x24:before {
  content: '\eac8';
}
.icon-home_assets_bath_tub_24x24:before {
  content: '\eac9';
}
.icon-home_assets_bed_24x24:before {
  content: '\eaca';
}
.icon-home_assets_ceiling_24x24:before {
  content: '\eacb';
}
.icon-home_assets_door_24x24:before {
  content: '\eacc';
}
.icon-home_assets_electrical_24x24:before {
  content: '\eacd';
}
.icon-home_assets_floor_24x24:before {
  content: '\eace';
}
.icon-home_assets_layout_24x24:before {
  content: '\eacf';
}
.icon-home_assets_smart_home_24x24:before {
  content: '\ead0';
}
.icon-home_assets_sofa_single_24x24:before {
  content: '\ead1';
}
.icon-home_assets_wall_24x24:before {
  content: '\ead2';
}
.icon-home_room_dinning_room_24x24:before {
  content: '\ead3';
}
.icon-home_room_kitchen_24x24:before {
  content: '\ead4';
}
.icon-iphone_rotate_300x300:before {
  content: '\eac6';
}
.icon-ipad_rotate_300x300:before {
  content: '\eac5';
}
.icon-flag_en_512x512 .path1:before {
  content: '\eab5';
  color: rgb(240, 240, 240);
}
.icon-flag_en_512x512 .path2:before {
  content: '\eab6';
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-flag_en_512x512 .path3:before {
  content: '\eab7';
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-flag_en_512x512 .path4:before {
  content: '\eab8';
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-flag_en_512x512 .path5:before {
  content: '\eab9';
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-flag_en_512x512 .path6:before {
  content: '\eaba';
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-flag_en_512x512 .path7:before {
  content: '\eabb';
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-flag_en_512x512 .path8:before {
  content: '\eabc';
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-flag_en_512x512 .path9:before {
  content: '\eabd';
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-flag_en_512x512 .path10:before {
  content: '\eabe';
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-flag_en_512x512 .path11:before {
  content: '\eabf';
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-flag_en_512x512 .path12:before {
  content: '\eac0';
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-flag_en_512x512 .path13:before {
  content: '\eac1';
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-flag_en_512x512 .path14:before {
  content: '\eac2';
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-flag_vi_512x512 .path1:before {
  content: '\eac3';
  color: rgb(216, 0, 39);
}
.icon-flag_vi_512x512 .path2:before {
  content: '\eac4';
  margin-left: -1em;
  color: rgb(255, 218, 68);
}
.icon-toggle_background_32x120:before {
  content: '\eab4';
}
.icon-logo_clik_44x18:before {
  content: '\e900';
}
.icon-marker_pick_11x18:before {
  content: '\eab2';
}
.icon-marker_close_14x14:before {
  content: '\ea3b';
}
.icon-marker_pin_12x24:before {
  content: '\ea3c';
}
.icon-sound-off_24x24:before {
  content: '\e901';
}
.icon-pause_circle_outline_24x24:before {
  content: '\e902';
}
.icon-skip_next_24x24:before {
  content: '\e903';
}
.icon-cast_24x24:before {
  content: '\e904';
}
.icon-sound-on_24x24:before {
  content: '\e905';
}
.icon-play_circle_filled_24x24:before {
  content: '\e906';
}
.icon-skip_previous_24x24:before {
  content: '\e907';
}
.icon-shuffle_24x24:before {
  content: '\e908';
}
.icon-pause_circle_filled_24x24 .path1:before {
  content: '\e909';
  color: rgb(0, 0, 0);
}
.icon-pause_circle_filled_24x24 .path2:before {
  content: '\eab3';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-fast_forward_24x24:before {
  content: '\e90a';
}
.icon-fast_rewind_24x24:before {
  content: '\e90b';
}
.icon-play_arrow_24x24:before {
  content: '\e90c';
}
.icon-repeat_24x24:before {
  content: '\e90d';
}
.icon-pause_single_24x24:before {
  content: '\e90e';
}
.icon-airplay_24x24:before {
  content: '\e90f';
}
.icon-play_circle_outline_24x24:before {
  content: '\e910';
}
.icon-search_small_minus_24x24:before {
  content: '\e911';
}
.icon-search_small_plus_24x24:before {
  content: '\e912';
}
.icon-text_align_center_24x24:before {
  content: '\e913';
}
.icon-plus_circle_outline_24x24:before {
  content: '\e914';
}
.icon-search_24x24:before {
  content: '\e915';
}
.icon-minus_24x24:before {
  content: '\e916';
}
.icon-plus_24x24:before {
  content: '\e917';
}
.icon-edit_compass_en_24x24:before {
  content: '\e918';
}
.icon-text_align_right_24x24:before {
  content: '\e919';
}
.icon-list_check_24x24:before {
  content: '\e91a';
}
.icon-text_align_justify_24x24:before {
  content: '\e91b';
}
.icon-minus_circle_outline_24x24:before {
  content: '\e91c';
}
.icon-show_24x24:before {
  content: '\e91d';
}
.icon-copy_24x24:before {
  content: '\e91e';
}
.icon-add_to_queue_24x24:before {
  content: '\e91f';
}
.icon-comment_minus_24x24:before {
  content: '\e920';
}
.icon-select_multiple_24x24:before {
  content: '\e921';
}
.icon-list_ol_24x24:before {
  content: '\e922';
}
.icon-minus_circle_24x24:before {
  content: '\e923';
}
.icon-move_24x24:before {
  content: '\e924';
}
.icon-comment_plus_24x24:before {
  content: '\e925';
}
.icon-hide_24x24:before {
  content: '\e926';
}
.icon-move_horizontal_24x24:before {
  content: '\e927';
}
.icon-text_align_left_24x24:before {
  content: '\e928';
}
.icon-search_small_24x24:before {
  content: '\e929';
}
.icon-move_vertical_24x24:before {
  content: '\e92a';
}
.icon-minus_square_24x24:before {
  content: '\e92b';
}
.icon-edit_24x24:before {
  content: '\e92c';
}
.icon-comment_check_24x24:before {
  content: '\e92d';
}
.icon-plus_circle_24x24:before {
  content: '\e92e';
}
.icon-comment_24x24:before {
  content: '\e92f';
}
.icon-list_ul_24x24:before {
  content: '\e930';
}
.icon-plus_square_24x24:before {
  content: '\e931';
}
.icon-list_plus_24x24:before {
  content: '\e932';
}
.icon-list_minus_24x24:before {
  content: '\e933';
}
.icon-device_monitor_24x24:before {
  content: '\e934';
}
.icon-device_mobile_alt_24x24:before {
  content: '\e935';
}
.icon-devices:before {
  content: '\e936';
}
.icon-device_tablet_24x24:before {
  content: '\e937';
}
.icon-device_mobile_24x24:before {
  content: '\e938';
}
.icon-device_laptop_24x24:before {
  content: '\e939';
}
.icon-home_building_24x24:before {
  content: '\e93a';
}
.icon-home_alt_fill_24x24:before {
  content: '\e93b';
}
.icon-home_heart_24x24:before {
  content: '\e93c';
}
.icon-home_check_24x24:before {
  content: '\e93d';
}
.icon-home_plus_24x24:before {
  content: '\e93e';
}
.icon-home_alt_minus_24x24:before {
  content: '\e93f';
}
.icon-home_x_24x24:before {
  content: '\e940';
}
.icon-home_outline_24x24:before {
  content: '\e941';
}
.icon-home_alt_plus_24x24:before {
  content: '\e942';
}
.icon-home_alt_x_24x24:before {
  content: '\e943';
}
.icon-home_alt_outline_24x24:before {
  content: '\e944';
}
.icon-home_alt_check_24x24:before {
  content: '\e945';
}
.icon-home_minus_24x24:before {
  content: '\e946';
}
.icon-home_heart-1_24x24:before {
  content: '\e947';
}
.icon-home_fill_24x24:before {
  content: '\e948';
}
.icon-transfer_24x24:before {
  content: '\e949';
}
.icon-cylinder_24x24:before {
  content: '\e94a';
}
.icon-bar_right_24x24:before {
  content: '\e94b';
}
.icon-window_check_24x24:before {
  content: '\e94c';
}
.icon-data_24x24:before {
  content: '\e94d';
}
.icon-window_sidebar_24x24:before {
  content: '\e94e';
}
.icon-window_terminal_24x24:before {
  content: '\e94f';
}
.icon-bar_left_24x24:before {
  content: '\e950';
}
.icon-code_24x24:before {
  content: '\e951';
}
.icon-window_close_24x24:before {
  content: '\e952';
}
.icon-window_24x24:before {
  content: '\e953';
}
.icon-bar_bottom_24x24:before {
  content: '\e954';
}
.icon-window_code_block_24x24:before {
  content: '\e955';
}
.icon-bar_top_24x24:before {
  content: '\e956';
}
.icon-terminal_24x24:before {
  content: '\e957';
}
.icon-user_id_card_24x24:before {
  content: '\e958';
}
.icon-user_x_24x24:before {
  content: '\e959';
}
.icon-user_minus_24x24:before {
  content: '\e95a';
}
.icon-user_circle_24x24:before {
  content: '\e95b';
}
.icon-user_plus_24x24:before {
  content: '\e95c';
}
.icon-user_voice_24x24:before {
  content: '\e95d';
}
.icon-user_24x24:before {
  content: '\e95e';
}
.icon-user_check_24x24:before {
  content: '\e95f';
}
.icon-user_pin_24x24:before {
  content: '\e960';
}
.icon-calendar_event_24x24:before {
  content: '\e961';
}
.icon-calendar_x_24x24:before {
  content: '\e962';
}
.icon-calendar_minus_24x24:before {
  content: '\e963';
}
.icon-calendar_week_24x24:before {
  content: '\e964';
}
.icon-calendar_calendar_24x24:before {
  content: '\e965';
}
.icon-calendar_edit_24x24:before {
  content: '\e966';
}
.icon-calendar_plus_24x24:before {
  content: '\e967';
}
.icon-calendar_check_24x24:before {
  content: '\e968';
}
.icon-calendar_24x24:before {
  content: '\e969';
}
.icon-bar_chart_alt_24x24:before {
  content: '\e96a';
}
.icon-pie_chart_outline_24x24:before {
  content: '\e96b';
}
.icon-trending_down_24x24:before {
  content: '\e96c';
}
.icon-line_chart_down_24x24:before {
  content: '\e96d';
}
.icon-pie_chart_25_24x24:before {
  content: '\e96e';
}
.icon-pie_chart_75_24x24:before {
  content: '\e96f';
}
.icon-doughnut_chart_24x24:before {
  content: '\e970';
}
.icon-pie_chart_outline_25_24x24:before {
  content: '\e971';
}
.icon-bar_chart_square_24x24:before {
  content: '\e972';
}
.icon-bar_chart_24x24:before {
  content: '\e973';
}
.icon-bar_chart_horizontal_24x24:before {
  content: '\e974';
}
.icon-trending_up_24x24:before {
  content: '\e975';
}
.icon-line_chart_up_24x24:before {
  content: '\e976';
}
.icon-pie_chart_50_24x24:before {
  content: '\e977';
}
.icon-menu_more_vertical_24x24:before {
  content: '\e978';
}
.icon-grid_big_round_24x24:before {
  content: '\e979';
}
.icon-grid_small_24x24:before {
  content: '\e97a';
}
.icon-menu_duo_24x24:before {
  content: '\e97b';
}
.icon-grid_small_round_24x24:before {
  content: '\e97c';
}
.icon-navigation_slide_stick_24x24:before {
  content: '\e97d';
}
.icon-menu_close_big_24x24:before {
  content: '\e97e';
}
.icon-grid_dashboard_24x24:before {
  content: '\e97f';
}
.icon-grid_big_24x24:before {
  content: '\e980';
}
.icon-menu_add_collapse_24x24:before {
  content: '\e981';
}
.icon-menu_alt_01_24x24:before {
  content: '\e982';
}
.icon-grid_dashboard_02_24x24:before {
  content: '\e983';
}
.icon-grid_round_24x24:before {
  content: '\e984';
}
.icon-menu_close_small_24x24:before {
  content: '\e985';
}
.icon-grid_horizontal_24x24:before {
  content: '\e986';
}
.icon-menu_alt_04_24x24:before {
  content: '\e987';
}
.icon-menu_more_horizontal_24x24:before {
  content: '\e988';
}
.icon-menu_alt_02_24x24:before {
  content: '\e989';
}
.icon-menu_add_expand_24x24:before {
  content: '\e98a';
}
.icon-menu_hamburger_24x24:before {
  content: '\e98b';
}
.icon-grid_vertical_24x24:before {
  content: '\e98c';
}
.icon-menu_alt_05_24x24:before {
  content: '\e98d';
}
.icon-grid_horizontal_round_24x24:before {
  content: '\e98e';
}
.icon-grid_24x24:before {
  content: '\e98f';
}
.icon-menu_alt_03_24x24:before {
  content: '\e990';
}
.icon-grid_vertical_round_24x24:before {
  content: '\e991';
}
.icon-warning_outline_24x24:before {
  content: '\e992';
}
.icon-error_outline_24x24:before {
  content: '\e993';
}
.icon-warning_24x24:before {
  content: '\e994';
}
.icon-info_circle_24x24:before {
  content: '\e995';
}
.icon-info_square_24x24:before {
  content: '\e996';
}
.icon-info_square_outline_24x24:before {
  content: '\e997';
}
.icon-info_circle_outline_24x24:before {
  content: '\e998';
}
.icon-error_24x24:before {
  content: '\e999';
}
.icon-notification_24x24:before {
  content: '\e99a';
}
.icon-notification_active_24x24:before {
  content: '\e99b';
}
.icon-notification_deactivated_24x24:before {
  content: '\e99c';
}
.icon-notification_dot_24x24:before {
  content: '\e99d';
}
.icon-notification_minus_24x24:before {
  content: '\e99e';
}
.icon-notification_outline_24x24:before {
  content: '\e99f';
}
.icon-notification_outline_dot_24x24:before {
  content: '\e9a0';
}
.icon-notification_outline_minus_24x24:before {
  content: '\e9a1';
}
.icon-notification_outline_plus_24x24:before {
  content: '\e9a2';
}
.icon-notification_plus_24x24:before {
  content: '\e9a3';
}
.icon-dot_03_m_24x24:before {
  content: '\e9a4';
}
.icon-dot_05_xl_24x24:before {
  content: '\e9a5';
}
.icon-line_sx_24x24:before {
  content: '\e9a6';
}
.icon-dot_04_l_24x24:before {
  content: '\e9a7';
}
.icon-line_l_24x24:before {
  content: '\e9a8';
}
.icon-dot_02_s_24x24:before {
  content: '\e9a9';
}
.icon-line_m_24x24:before {
  content: '\e9aa';
}
.icon-dot_01_xs_24x24:before {
  content: '\e9ab';
}
.icon-line_xl_24x24:before {
  content: '\e9ac';
}
.icon-line_s_24x24:before {
  content: '\e9ad';
}
.icon-google_24x24:before {
  content: '\e9ae';
}
.icon-reddit_24x24:before {
  content: '\e9af';
}
.icon-linkedIn_24x24:before {
  content: '\e9b0';
}
.icon-zalo_24x24:before {
  content: '\e9b1';
}
.icon-messenger_24x24:before {
  content: '\e9b2';
}
.icon-css3_24x24:before {
  content: '\e9b3';
}
.icon-instagram_24x24:before {
  content: '\e9b4';
}
.icon-dropbox_24x24:before {
  content: '\e9b5';
}
.icon-unsplash_24x24:before {
  content: '\e9b6';
}
.icon-behance_24x24:before {
  content: '\e9b7';
}
.icon-adobe_xd_24x24:before {
  content: '\e9b8';
}
.icon-slack_24x24:before {
  content: '\e9b9';
}
.icon-javascript_24x24:before {
  content: '\e9ba';
}
.icon-figma_24x24:before {
  content: '\e9bb';
}
.icon-discord_24x24:before {
  content: '\e9bc';
}
.icon-github_24x24:before {
  content: '\e9bd';
}
.icon-spotify_24x24:before {
  content: '\e9be';
}
.icon-paypal_24x24:before {
  content: '\e9bf';
}
.icon-app_store_24x24:before {
  content: '\e9c0';
}
.icon-spectrum_24x24:before {
  content: '\e9c1';
}
.icon-twitter_24x24:before {
  content: '\e9c2';
}
.icon-facebook_24x24:before {
  content: '\e9c3';
}
.icon-apple_24x24:before {
  content: '\e9c4';
}
.icon-trello_24x24:before {
  content: '\e9c5';
}
.icon-linkpath_24x24:before {
  content: '\e9c6';
}
.icon-play_store_24x24:before {
  content: '\e9c7';
}
.icon-html5_24x24:before {
  content: '\e9c8';
}
.icon-stack_overflow_24x24:before {
  content: '\e9c9';
}
.icon-dribbble_24x24:before {
  content: '\e9ca';
}
.icon-invision_24x24:before {
  content: '\e9cb';
}
.icon-snapchat_24x24:before {
  content: '\e9cc';
}
.icon-youtube_24x24:before {
  content: '\e9cd';
}
.icon-sketch_24x24:before {
  content: '\e9ce';
}
.icon-coolicons_24x24:before {
  content: '\e9cf';
}
.icon-file_image_24x24:before {
  content: '\e9d0';
}
.icon-file_blank_outline_24x24:before {
  content: '\e9d1';
}
.icon-note_24x24:before {
  content: '\e9d2';
}
.icon-cloud_close_24x24:before {
  content: '\e9d3';
}
.icon-cloud_up_24x24:before {
  content: '\e9d4';
}
.icon-file_js_24x24:before {
  content: '\e9d5';
}
.icon-file_png_24x24:before {
  content: '\e9d6';
}
.icon-file_find_24x24:before {
  content: '\e9d7';
}
.icon-folder_open_24x24:before {
  content: '\e9d8';
}
.icon-file_jpg_24x24:before {
  content: '\e9d9';
}
.icon-file_pdf_24x24:before {
  content: '\e9da';
}
.icon-folder_plus_24x24:before {
  content: '\e9db';
}
.icon-file_html_24x24:before {
  content: '\e9dc';
}
.icon-cloud_check_24x24:before {
  content: '\e9dd';
}
.icon-file_new_24x24:before {
  content: '\e9de';
}
.icon-cloud_down_24x24:before {
  content: '\e9df';
}
.icon-folder_24x24:before {
  content: '\e9e0';
}
.icon-file_css_24x24:before {
  content: '\e9e1';
}
.icon-file_archive_24x24:before {
  content: '\e9e2';
}
.icon-cloud_off_24x24:before {
  content: '\e9e3';
}
.icon-file_svg_24x24:before {
  content: '\e9e4';
}
.icon-file_blank_fill_24x24:before {
  content: '\e9e5';
}
.icon-cloud_24x24:before {
  content: '\e9e6';
}
.icon-cloud_outline_24x24:before {
  content: '\e9e7';
}
.icon-file_minus_24x24:before {
  content: '\e9e8';
}
.icon-folder_minus_24x24:before {
  content: '\e9e9';
}
.icon-clock_24x24:before {
  content: '\e9ea';
}
.icon-refresh_02_24x24:before {
  content: '\e9eb';
}
.icon-download_done_24x24:before {
  content: '\e9ec';
}
.icon-layers_alt_24x24:before {
  content: '\e9ed';
}
.icon-slider_01_24x24:before {
  content: '\e9ee';
}
.icon-trash_empty_24x24:before {
  content: '\e9ef';
}
.icon-location_outline_24x24:before {
  content: '\e9f0';
}
.icon-log_out_24x24:before {
  content: '\e9f1';
}
.icon-help_circle_outline_24x24:before {
  content: '\e9f2';
}
.icon-settings_24x24:before {
  content: '\e9f3';
}
.icon-done_all_24x24:before {
  content: '\e9f4';
}
.icon-location_map_24x24:before {
  content: '\e9f5';
}
.icon-off_outline_close_24x24:before {
  content: '\e9f6';
}
.icon-alarm_24x24:before {
  content: '\e9f7';
}
.icon-checkbox_24x24:before {
  content: '\e9f8';
}
.icon-tag-outline_24x24:before {
  content: '\e9f9';
}
.icon-flag_fill_24x24:before {
  content: '\e9fa';
}
.icon-cookie_24x24:before {
  content: '\e9fb';
}
.icon-color_24x24:before {
  content: '\e9fc';
}
.icon-share_24x24:before {
  content: '\e9fd';
}
.icon-map_24x24:before {
  content: '\e9fe';
}
.icon-radio_filled_24x24:before {
  content: '\e9ff';
}
.icon-briefcase_24x24:before {
  content: '\ea00';
}
.icon-settings_filled_24x24:before {
  content: '\ea01';
}
.icon-mail_24x24:before {
  content: '\ea02';
}
.icon-flag_outline_24x24:before {
  content: '\ea03';
}
.icon-radio_24x24:before {
  content: '\ea04';
}
.icon-external_link_24x24:before {
  content: '\ea05';
}
.icon-trash_full_24x24:before {
  content: '\ea06';
}
.icon-unlink_24x24:before {
  content: '\ea07';
}
.icon-slider_03_24x24:before {
  content: '\ea08';
}
.icon-circle_check_outline_24x24:before {
  content: '\ea09';
}
.icon-sad_24x24:before {
  content: '\ea0a';
}
.icon-happy_24x24:before {
  content: '\ea0b';
}
.icon-layers_24x24:before {
  content: '\ea0c';
}
.icon-help_circle_24x24:before {
  content: '\ea0d';
}
.icon-settings_future_24x24:before {
  content: '\ea0e';
}
.icon-stopwatch_24x24:before {
  content: '\ea0f';
}
.icon-off_close_24x24:before {
  content: '\ea10';
}
.icon-tag_24x24:before {
  content: '\ea11';
}
.icon-location_24x24:before {
  content: '\ea12';
}
.icon-credit_card_24x24:before {
  content: '\ea13';
}
.icon-exit_24x24:before {
  content: '\ea14';
}
.icon-circle_checked_24x24:before {
  content: '\ea15';
}
.icon-command_24x24:before {
  content: '\ea16';
}
.icon-circle_check_24x24:before {
  content: '\ea17';
}
.icon-path_24x24:before {
  content: '\ea18';
}
.icon-phone_24x24:before {
  content: '\ea19';
}
.icon-label_24x24:before {
  content: '\ea1a';
}
.icon-checkbox_square_24x24:before {
  content: '\ea1b';
}
.icon-slider_02_24x24:before {
  content: '\ea1c';
}
.icon-mail_open_24x24:before {
  content: '\ea1d';
}
.icon-confused_24x24:before {
  content: '\ea1e';
}
.icon-image_alt_24x24:before {
  content: '\ea1f';
}
.icon-heart_outline_24x24:before {
  content: '\ea20';
}
.icon-download_24x24:before {
  content: '\ea21';
}
.icon-share_outline_24x24:before {
  content: '\ea22';
}
.icon-loading_24x24:before {
  content: '\ea23';
}
.icon-bulb_24x24:before {
  content: '\ea24';
}
.icon-heart_fill_24x24:before {
  content: '\ea25';
}
.icon-link_24x24:before {
  content: '\ea26';
}
.icon-refresh_24x24:before {
  content: '\ea27';
}
.icon-checkbox_checked_24x24:before {
  content: '\ea28';
}
.icon-done_24x24:before {
  content: '\ea29';
}
.icon-alarm_add_24x24:before {
  content: '\ea2a';
}
.icon-credit_card_alt_24x24:before {
  content: '\ea2b';
}
.icon-help_questionmark_24x24:before {
  content: '\ea2c';
}
.icon-link_02_24x24:before {
  content: '\ea2d';
}
.icon-deg_720_24x24:before {
  content: '\ea2e';
}
.icon-ar_24x24:before {
  content: '\ea2f';
}
.icon-image_slide_24x24:before {
  content: '\ea30';
}
.icon-info_24x24:before {
  content: '\ea31';
}
.icon-language_24x24:before {
  content: '\ea32';
}
.icon-layout_24x24:before {
  content: '\ea33';
}
.icon-money_24x24:before {
  content: '\ea34';
}
.icon-navigator_24x24:before {
  content: '\ea35';
}
.icon-panorama_24x24:before {
  content: '\ea36';
}
.icon-rental_24x24:before {
  content: '\ea38';
}
.icon-deg_360_24x24:before {
  content: '\ea37';
}
.icon-mode_2D_24x24:before {
  content: '\ea39';
}
.icon-mode_3D_24x24:before {
  content: '\ea3a';
}
.icon-click_24x24:before {
  content: '\ea3d';
}
.icon-touch_24x24:before {
  content: '\ea3e';
}
.icon-number_1_24x24:before {
  content: '\ea3f';
}
.icon-number_2_24x24:before {
  content: '\ea40';
}
.icon-number_3_24x24:before {
  content: '\ea41';
}
.icon-number_4_24x24:before {
  content: '\ea42';
}
.icon-number_5_24x24:before {
  content: '\ea43';
}
.icon-number_6_24x24:before {
  content: '\ea44';
}
.icon-number_7_24x24:before {
  content: '\ea45';
}
.icon-number_8_24x24:before {
  content: '\ea46';
}
.icon-number_9_24x24:before {
  content: '\ea47';
}
.icon-sport_24x24:before {
  content: '\ea48';
}
.icon-gym_24x24:before {
  content: '\ea49';
}
.icon-shopping_center_24x24:before {
  content: '\ea4a';
}
.icon-bridge_24x24:before {
  content: '\ea4b';
}
.icon-kid_playground_24x24:before {
  content: '\ea4c';
}
.icon-yacht_24x24:before {
  content: '\ea4d';
}
.icon-hospital_24x24:before {
  content: '\ea4e';
}
.icon-culture_24x24:before {
  content: '\ea4f';
}
.icon-museum_24x24:before {
  content: '\ea50';
}
.icon-club_house_24x24:before {
  content: '\ea51';
}
.icon-tree_24x24:before {
  content: '\ea52';
}
.icon-hotel_24x24:before {
  content: '\ea53';
}
.icon-swimming_pool_24x24:before {
  content: '\ea54';
}
.icon-building_24x24:before {
  content: '\ea55';
}
.icon-community_24x24:before {
  content: '\ea56';
}
.icon-city_24x24:before {
  content: '\ea57';
}
.icon-water_24x24:before {
  content: '\ea58';
}
.icon-villa_24x24:before {
  content: '\ea59';
}
.icon-golf_24x24:before {
  content: '\ea5a';
}
.icon-school_24x24:before {
  content: '\ea5b';
}
.icon-wooden_floor_24x24:before {
  content: '\ea5c';
}
.icon-grocery_24x24:before {
  content: '\ea5d';
}
.icon-park_24x24:before {
  content: '\ea5e';
}
.icon-coffee_24x24:before {
  content: '\ea5f';
}
.icon-hotspot_collapse_24x24:before {
  content: '\ea60';
}
.icon-walk_24x24:before {
  content: '\ea61';
}
.icon-parking_24x24:before {
  content: '\ea62';
}
.icon-airpot_24x24:before {
  content: '\ea63';
}
.icon-restaurant_24x24:before {
  content: '\ea64';
}
.icon-market_24x24:before {
  content: '\ea65';
}
.icon-scene_day_24x24:before {
  content: '\ea66';
}
.icon-view_aerial_24x24:before {
  content: '\ea67';
}
.icon-stair_up_24x24:before {
  content: '\ea68';
}
.icon-elevator_up_24x24:before {
  content: '\ea69';
}
.icon-elevator_normal_24x24:before {
  content: '\ea6a';
}
.icon-scene_night_24x24:before {
  content: '\ea6b';
}
.icon-stair_down_24x24:before {
  content: '\ea6c';
}
.icon-view_walking_24x24:before {
  content: '\ea6d';
}
.icon-elevator_down_24x24:before {
  content: '\ea6e';
}
.icon-hotspot_place_24x24:before {
  content: '\ea6f';
}
.icon-transport_motorbike_24x24:before {
  content: '\ea70';
}
.icon-transport_car_24x24:before {
  content: '\ea71';
}
.icon-transport_bicycle_24x24:before {
  content: '\ea72';
}
.icon-transport_bus_24x24:before {
  content: '\ea73';
}
.icon-transport_walk_24x24:before {
  content: '\ea74';
}
.icon-small_long_down_24x24:before {
  content: '\ea75';
}
.icon-thin_long_left_24x24:before {
  content: '\ea76';
}
.icon-circle_chevron_right_24x24:before {
  content: '\ea77';
}
.icon-long_down_24x24:before {
  content: '\ea78';
}
.icon-short_up_24x24:before {
  content: '\ea79';
}
.icon-thin_long_02_down_24x24:before {
  content: '\ea7a';
}
.icon-chevron_big_right_24x24:before {
  content: '\ea7b';
}
.icon-thin_long_up_24x24:before {
  content: '\ea7c';
}
.icon-long_up_left_24x24:before {
  content: '\ea7d';
}
.icon-chevron_down_24x24:before {
  content: '\ea7e';
}
.icon-thin_long_02_left_24x24:before {
  content: '\ea7f';
}
.icon-long_bottom_down_24x24:before {
  content: '\ea80';
}
.icon-chevron_right_24x24:before {
  content: '\ea81';
}
.icon-chevron_left_24x24:before {
  content: '\ea82';
}
.icon-small_long_left_24x24:before {
  content: '\ea83';
}
.icon-chevron_up_24x24:before {
  content: '\ea84';
}
.icon-thin_long_down_24x24:before {
  content: '\ea85';
}
.icon-long_left_24x24:before {
  content: '\ea86';
}
.icon-circle_chevron_down_24x24:before {
  content: '\ea87';
}
.icon-shrink_24x24:before {
  content: '\ea88';
}
.icon-thin_long_02_up_24x24:before {
  content: '\ea89';
}
.icon-chevron_duo_left_24x24:before {
  content: '\ea8a';
}
.icon-sub_right_24x24:before {
  content: '\ea8b';
}
.icon-thin_big_up_24x24:before {
  content: '\ea8c';
}
.icon-caret_right_24x24:before {
  content: '\ea8d';
}
.icon-chevron_duo_up_24x24:before {
  content: '\ea8e';
}
.icon-chevron_duo_down_24x24:before {
  content: '\ea8f';
}
.icon-short_right_24x24:before {
  content: '\ea90';
}
.icon-caret_up_24x24:before {
  content: '\ea91';
}
.icon-circle_chevron_left_24x24:before {
  content: '\ea92';
}
.icon-circle_right_24x24:before {
  content: '\ea93';
}
.icon-chevron_duo_right_24x24:before {
  content: '\ea94';
}
.icon-circle_down_24x24:before {
  content: '\ea95';
}
.icon-short_left_24x24:before {
  content: '\ea96';
}
.icon-small_long_right_24x24:before {
  content: '\ea97';
}
.icon-circle_chevron_up_24x24:before {
  content: '\ea98';
}
.icon-chevron_big_up_24x24:before {
  content: '\ea99';
}
.icon-rotate_24x24:before {
  content: '\ea9a';
}
.icon-chevron_big_down_24x24:before {
  content: '\ea9b';
}
.icon-long_up_24x24:before {
  content: '\ea9c';
}
.icon-long_up_right_24x24:before {
  content: '\ea9d';
}
.icon-caret_down_24x24:before {
  content: '\ea9e';
}
.icon-thin_long_02_right_24x24:before {
  content: '\ea9f';
}
.icon-long_bottom_up_24x24:before {
  content: '\eaa0';
}
.icon-long_right_24x24:before {
  content: '\eaa1';
}
.icon-caret_left_24x24:before {
  content: '\eaa2';
}
.icon-small_long_up_24x24:before {
  content: '\eaa3';
}
.icon-circle_up_24x24:before {
  content: '\eaa4';
}
.icon-short_down_24x24:before {
  content: '\eaa5';
}
.icon-circle_left_24x24:before {
  content: '\eaa6';
}
.icon-chevron_big_left_24x24:before {
  content: '\eaa7';
}
.icon-first_page_24x24:before {
  content: '\eaa8';
}
.icon-unfold_more_24x24:before {
  content: '\eaa9';
}
.icon-sub_left_24x24:before {
  content: '\eaaa';
}
.icon-thin_big_left_24x24:before {
  content: '\eaab';
}
.icon-last_page_24x24:before {
  content: '\eaac';
}
.icon-thin_big_right_24x24:before {
  content: '\eaad';
}
.icon-expand_24x24:before {
  content: '\eaae';
}
.icon-unfold_less_24x24:before {
  content: '\eaaf';
}
.icon-thin_big_down_24x24:before {
  content: '\eab0';
}
.icon-thin_long_right_24x24:before {
  content: '\eab1';
}
